<div class="service-page">
    <div class="service-page__preview">
        <h1 class="service-page__title">{{status}}</h1>
        <p class="service-page__message">{{message}}</p>
        <a href="chat-page.hbs" class="service-page__back-link">{{linkName}}</a>
    </div>
</div>
