<div class="input">
    <label class="input__label">{{label}}</label>
    <div class="input__container">
        <input type="{{type}}" placeholder="{{placeholder}}" class="input__input-text">
        <div class="input__error-name">{{errorName}}</div>
    </div>
</div>
