{{#if loginform}}
    <div class="container">
        <div class="login-form">
            <h1 class="login-form__title">Вход</h1>
            <form class="login-form__form">
                <div class="login-form___inputs-inner">
                    {{> 'input/input' placeholder="Логин" label="" type="email" errorName="введите корректный email"}}

                    {{> 'input/input' placeholder="Пароль" type="password"}}
                </div>
                <a href="chat-page.hbs">
                    {{> 'button/button' formAction="chat-page.html" buttonTitle="Авторизоваться" buttonClass="button button_primary button_set-big-btn"}}
                </a>
            </form>
            <a href="registrashion.hbs" class="login-form__change-form-link">Нет аккаунта?</a>
        </div>
    </div>
{{else}}
    <div class="container">
        <div class="login-form login-form_registr-form">
            <h1 class="login-form__title">Регистрация</h1>
            <form class="login-form__form">
                <div class="login-form___inputs-inner">
                    {{> 'input/input' placeholder="Почта" type="email" errorName="введите корректный email"}}

                    {{> 'input/input' placeholder="Логин"}}

                    {{> 'input/input' placeholder="Имя"}}

                    {{> 'input/input' placeholder="Фамилия"}}

                    {{> 'input/input' placeholder="Телефон"}}

                    {{> 'input/input' placeholder="Пароль" type="password"}}

                    {{> 'input/input' placeholder="Пароль (ещё раз)" type="password"}}
                </div>
                {{> 'button/button' buttonTitle="Зарегестрироваться" buttonClass="button button_primary button_set-big-btn"}}

            </form>
            <a href="index.hbs" class="login-form__change-form-link">Войти</a>
        </div>
    </div>
{{/if}}
