<div class="chat-layout">
    <div class="chat-layout__list-header">
        <div class="chat-layout__navbar">
            <a class="chat-layout__link" href="index.hbs">Сменить аккаунт</a>
            <a class="chat-layout__link" href="profile-page.hbs">
                <span>Профиль</span>
                {{> 'svgicons/arrow' arrowIconClass="chat-layout__nav-icon"}}
            </a>
        </div>
        <div class="chat-layout__search-bar">
            {{> 'input/input' placeholder="Поиск" type="text" inputAddClass="chat-layout__seach-input" searchInput="true"}}
        </div>
    </div>
    <div class="chat-layout__list">
        <div class="chat-layout__card-splitter"></div>
        {{#each messages.chats}}
            {{> 'card/card' userName=this.userName userMessage=this.message cardTime=this.time cardMessCount=this.unreadMes}}
            <div class="chat-layout__card-splitter"></div>
        {{/each}}

    </div>
    <div class="chat-layout__tape">Выберите чат чтобы отправить сообщение</div>

</div>
