<main class="container container_chat">
    <div class="chat-layout">
        <div class="chat-layout__list-header">
            <div class="chat-layout__navbar">
                <button>Профиль</button>
            </div>
            {{> 'input/input' placeholder="Поиск" type="text"}}

        </div>
        <div class="chat-layout__list">
            {{> 'card/card' userName="Mr.Cat" userMessage="Мяууу...Мяууу...Мяууу...Мяууу..." cardTime="10:46" cardMessCount="2"}}
            {{> 'card/card' userName="Mr.Cat" userMessage="Мяууу...Мяууу...Мяууу...Мяууу..." cardTime="10:46" cardMessCount="2"}}
            {{> 'card/card' userName="Mr.Cat" userMessage="Мяууу...Мяууу...Мяууу...Мяууу..." cardTime="10:46" cardMessCount="2"}}
            {{> 'card/card' userName="Mr.Cat" userMessage="Мяууу...Мяууу...Мяууу...Мяууу..." cardTime="10:46" cardMessCount="2"}}
            {{> 'card/card' userName="Mr.Cat" userMessage="Мяууу...Мяууу...Мяууу...Мяууу..." cardTime="10:46" cardMessCount="2"}}
            {{> 'card/card' userName="Mr.Cat" userMessage="Мяууу...Мяууу...Мяууу...Мяууу..." cardTime="10:46" cardMessCount="2"}}
            {{> 'card/card' userName="Mr.Cat" userMessage="Мяууу...Мяууу...Мяууу...Мяууу..." cardTime="10:46" cardMessCount="2"}}
            {{> 'card/card' userName="Mr.Cat" userMessage="Мяууу...Мяууу...Мяууу...Мяууу..." cardTime="10:46" cardMessCount="2"}}
            {{> 'card/card' userName="Mr.Cat" userMessage="Мяууу...Мяууу...Мяууу...Мяууу..." cardTime="10:46" cardMessCount="2"}}
            {{> 'card/card' userName="Mr.Cat" userMessage="Мяууу...Мяууу...Мяууу...Мяууу..." cardTime="10:46" cardMessCount="2"}}
            {{> 'card/card' userName="Mr.Cat" userMessage="Мяууу...Мяууу...Мяууу...Мяууу..." cardTime="10:46" cardMessCount="2"}}
            {{> 'card/card' userName="Mr.Cat" userMessage="Мяууу...Мяууу...Мяууу...Мяууу..." cardTime="10:46" cardMessCount="2"}}
            {{> 'card/card' userName="Mr.Cat" userMessage="Мяууу...Мяууу...Мяууу...Мяууу..." cardTime="10:46" cardMessCount="2"}}

        </div>
        <div class="chat-layout__tape">Выберите чат чтобы отправить сообщение</div>

    </div>
</main>
