@import "../../partials/mixins";

.button-svg {

  border: none;
  outline: none;
  position: relative;
  cursor: pointer;
  background: transparent;



  &__button {
    @include flex-center(row);
    position: relative;
    background: transparent;
    cursor: pointer;

    border: none;
    padding: 15px;
    transition: background 200ms ease-in-out, transform 100ms ease-in-out;

  }
  &_primary &__button {
    color: var(--font-color-light);
    background: var(--ligth-blue);

    &:hover {
      background: var(--primary);
    }
  }

  &__title {
    position: absolute;
    white-space: nowrap;
    right: -10%;
    transform: translateX(110%);
    @include text(11px, 11px, 500, false, var(--main-font-color));
    margin: 0;
  }

  &_round &__button{
    border-radius: 50%;
    padding: 17px;
  }
  &_with-border &__button{
    border: 2px solid var(--main-font-color);
    padding: 13px;
  }
  &_red-border &__button{
    border-color: var(--dark-red-2);
    &:hover {
      border-color: var(--red);
    }
  }

  &_default-color &__button{
    &:hover {
      border-color: var(--active-text-color);
    }
  }

  &__svg-elem {
    position: absolute;

    &_default {
      color: var(--main-font-color);
      width: 17px;
      height: 17px;
    }

    &_arrow-back {
      width: 17px;
      height: 19px;
      color: white;
    }

    &_clip {
      width: 30px;
      height: 30px;
      color: var(--grey-6);
    }

    &_tree-dots {
      width: 3px;
      height: 16px;
      color: var(--grey-6);
    }

    &_red-color {
      color: var(--dark-red-2);
    }

    &_rotate-45 {
      transform: rotate(45deg);
    }
  }

  &__button:hover {
    & .button-svg__svg-elem {
      color: var(--active-text-color);
    }
    & .button-svg__title {
      color: var(--active-text-color);
    }

    & .button-svg__svg-elem_red-color {
      color: var(--red);
    }
  }

  &__button:active {
    background-color: var(--grey-5);
    transform: translate(1%, 1%);
  }
}
