<div class="profile {{form.addFormClass}}">
    <h1 class="profile__title">{{form.title}}</h1>
    <form class="profile__inner">
        <div class="profile___inputs-inner">
            {{#each form.inputs}}
                {{> 'input/input' placeholder=this.placeholder type=this.type errorName=this.errorName inputAddClass="input_profile" profileInput=true formLabel=this.label}}
            {{/each}}
        </div>
        <a href="chat-page.hbs"></a>
        {{#unless profileMainPage}}
            {{> 'button/button' formAction="chat-page.html" buttonTitle=form.buttonTitle buttonClass="button_primary button_set-big-btn profile__button-container"}}
        {{/unless}}
    </form>
    <a href="{{form.backLink}}" class="profile__change-form-link">{{form.backLinkTitle}}</a>
</div>
