@import "../../partials/mixins";


.form {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;

  &_login-view {
    padding: 50px 30px 30px;
    width: 340px;
    min-height: 460px;
    background: var(--grey-5);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.14);
    border-radius: 12px;
  }

  &_registr-form {
    max-height: 615px;
    height: 100%;
  }

  &__title {
    font-family: 'Inter', sans-serif;
    @include text(20px, 20px, 500, normal, var(--main-font-color));
    text-align: center;
    padding-bottom: 1.5em;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  &__inputs-inner {
    @include flex-center;
  }

  &__change-form-link {
    font-family: 'Inter', sans-serif;
    @include text(11px, 11px, 500, normal, lighten(#3369f3, 20%));
    margin-top: 14px;
    text-decoration: none;
    text-align: center;
  }
}
