<div class="login-form {{form.addFormClass}}">
    <h1 class="login-form__title">{{form.title}}</h1>
    <form class="login-form__inner">
        <div class="login-form___inputs-inner">
            {{#each form.inputs}}
                {{> 'input/input' placeholder=this.placeholder type=this.type errorName=this.errorName inputAddClass=../form.inputAddClass formLabel=this.label profileInput=../form.profileInput}}
            {{/each}}
        </div>
        <a href="chat-page.hbs"></a>
        {{#unless profileMainPage}}
            {{> 'button/button' formAction="chat-page.html" buttonTitle=form.buttonTitle buttonClass="button_primary button_set-big-btn profile__button-container"}}
        {{/unless}}
    </form>
    <a href="{{form.backLink}}" class="login-form__change-form-link">{{form.backLinkTitle}}</a>
</div>
