@import "../../components/button/button.scss";
@import "../../components/input/input.scss";
@import "../../components/form/login-form.scss";
@import "../../components/container/container.scss";
@import "../../components/chat-layout/chat-layout.scss";
@import "../../components/card/card.scss";
@import "../../components/avatar/avatar.scss";
@import "../../components/profile/profile.scss";
@import "../../components/page/page.scss";
@import '../fonts/fonts.css';
@import "normalize.css";

:root {
    --main-bg-color: #ffff;
    --main-font-color: #212429;
    --active-text-color: #212429;
    --icons-color: #212429;
    --pink: #F784AD;
    --purple: #7048E8;
    --blue: #374FC7;
    --ligth-blue: #3369F3;
    --dark-blue: #334D6E;
    --dark-purple: #5028C6;
    --red: #f03d3e;
    --red-orange: #d84910;
    --font-color-light: #ffff;
    --grey-2: #dde2e5;
    --grey-3: #ACB5BD;
    --grey-4: #495057;
    --grey-5: #F9FAFC;
    --grey-6: #90A0B7;
    --grey-7: #F9FAFC;

    --error: var(--red);
    --success: var(--blue);

    --primary: var(--blue);
    --secondary: var(--purple);


    --token-attr-value: #07a;
    --token-attr-name: #690;
    --token-tag: #905;
    --token-function: #dd4a68;
    --token-punctuation: #999;


}

html, body {
    height: 100%;
}
