@import "../../components/button/button.scss";
@import "../../components/input/input.scss";
@import "../../components/form/form.scss";
@import "../../components/container/container.scss";
@import "../../components/chat-layout/chat-layout.scss";
@import "../../components/card/card.scss";
@import "../../components/avatar/avatar.scss";
@import "../../components/profile/profile.scss";
@import "../../components/page/page.scss";
@import '../fonts/fonts.css';
@import "normalize.css";

:root {
    --main-bg-color: #ffff;
    --second-bg-color: #e5e5e5;
    --main-font-color: #1e1e1e;
    --active-text-color: #1e1e1e;
    --icons-color: #212429;
    --purple: #7048E8;
    --blue: #374FC7;
    --ligth-blue: #3369f3;
    --dark-blue: #334D6E;
    --dark-purple: #5028C6;
    --red: #f95151;
    --font-color-light: #ffff;
    --grey-2: #eaeaea;
    --grey-3: #8c939a;
    --grey-4: #495057;
    --grey-5: #FBFBFB;
    --grey-6: #999999;
    --grey-7: #f9fafc;

    --error: var(--red);
    --success: var(--blue);

    --primary: var(--blue);
    --secondary: var(--purple);
}

html, body {
    height: 100%;
}
