<div class="card">
    <div class="card__avatar">
        {{> 'avatar/avatar' avatarClass="card__avatar-container" avatarName="avatar"}}
    </div>
    <div class="card__preview">
        <p class="card__user-name">{{userName}}</p>
        <p class="card__message">{{userMessage}}</p>
    </div>
    <div class="card__info">
        <p class="card__time">{{cardTime}}</p>
        <p class="card__unr-message-count">{{cardMessCount}}</p>
    </div>
</div>
