<div class="card">
    <div class="card__avatar">
        {{> 'avatar/avatar' avatarClass="card__avatar-container" avatarName="avatar"}}
    </div>
    <div class="card__preview">
        <div class="card__user-name">{{userName}}</div>
        <div class="card__message">{{userMessage}}</div>
    </div>
    <div class="card__info">
        <div class="card__time">{{cardTime}}</div>
        <div class="card__unr-message-count">{{cardMessCount}}</div>
    </div>
</div>
