---
title: 'profile-page'
addPageClass: 'page_chat-theme'

---

{{!< main}}

<div class="chat-layout profile">
    <div class="profile__nav-back">
        <a href="chat-page.hbs">
            {{> 'svgicons/arrowBack'}}
        </a>
    </div>
    <div class="profile__preview profile__preview_inactive">
        <div class="container container_profile">
            <div class="profile__avatar-preview">
                {{> 'avatar/avatar' avatarClass="profile__avatar-container profile__avatar-container_chng"}}
                <h3 class="profile__user-title">User</h3>
            </div>
            {{> 'form/login-form' form=profile profileMainPage=true}}
            <div class="profile__change-controls">
                <div class="profile__string profile__string_start">
                    <a href="profile-chng-data.hbs" class="profile__link">Изменить данные</a>
                </div>
                <div class="profile__string profile__string_start">
                    <a href="profile-chng-pswd.hbs" class="profile__link">Изменить пароль</a>
                </div>
                <div class="profile__string profile__string_start">
                    <a href="index.hbs" class="profile__link profile__link_red">Выйти</a>
                </div>
            </div>
        </div>
    </div>
</div>

