---
title: 'profile-chng-data-page'
addPageClass: 'page_chat-theme'

---

{{!< main}}

<div class="chat-layout profile">
    <div class="profile__nav-back">
        <a href="profile-page.hbs">
            {{> 'svgicons/arrowBack'}}
        </a>
    </div>
    <div class="profile__preview">
        <div class="container container_profile">
            <div class="profile__avatar-preview">
                {{> 'avatar/avatar' avatarClass="profile__avatar-container profile__avatar-container_chng"}}
                <h3 class="profile__user-title">User</h3>
            </div>
            {{> 'form/login-form' form=profile}}
        </div>
    </div>
</div>
