<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="../asserts/css/main.css">
    <title>{{title}}</title>
    <style>
        html[data-theme-dark] {
            --main-bg-color: #343941;
            --second-bg-color: #4c5761;
            --main-font-color: #b0b3b6;
            --grey-2: #666768;
            --grey-4: #818c98;
            --grey-5: #454e59;
            --active-text-color: #ffff;
            --icons-color: #ffff;
            --dark-blue: #a1b5ce;

        }
    </style>
</head>
