@mixin clear {
  padding: 0;
  margin: 0;
}

@mixin clear-list {
  @include clear;
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin flex-center($dir: column) {
  display: flex;
  flex-direction: $dir;
  justify-content: center;
  align-items: center;
}


@mixin text($size: false, $lh: false, $fw: false, $fs: false, $color: false) {
  @if $size {
    font-size: $size;
  }
  @if $lh {
    line-height: $lh;
  }
  @if $fw {
    font-weight: $fw;
  }
  @if $fs {
    font-style: $fs;
  }
  @if $color {
    color: $color;
  }
}
