@import "../../partials/mixins";

.avatar {
  @include flex-center;

  box-shadow: 2px 2px 4px 2px rgb(0 0 0 / 10%);
  position: relative;

  &__img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
  }

  &_default {
    border-radius: 50%;
    position: relative;
    background-color: var(--second-bg-color);
  }

  &__svg {
    width: 40px;
    height: 40px;
    color: #cdcdcd;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.5);
    opacity: 1;
    transition: opacity 0.2s ease-out;
  }

  &__svg_mini {
    top: 0;
    left: 0;
    transform: translate(-8%, -8%) scale(0.5);
    transform-origin: center;
  }

  &__svg_midi {
    top: 0;
    left: 0;
    transform: translate(8%, 8%) scale(0.7);
    transform-origin: center;
  }
}
