@import "../../partials/mixins";

.avatar {
  width: 10em;
  height: 10em;
  @include flex-center;

  &__img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
  }

  &_default {
    border-radius: 50%;
    position: relative;
    background-color: var(--second-bg-color);
  }

  &__svg {
    color: #cdcdcd;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__svg_mini {
    width: 40px;
    height: 40px;
    top: 0;
    left: 0;
    transform: translate(-8%, -8%) scale(0.5);
    transform-origin: center;

  }
}

