@import "../../partials/mixins";

.message {
  display: flex;
  justify-content: space-between;
  background: #5871af;
  max-width: 380px;
  word-break: break-all;
  border-radius: 15px 15px 0;
  margin: 10px;
  padding: 11px;
  font-weight: 300;
  color: var(--active-text-color);
  align-self: flex-end;
  &__time {
    @include text(9px, 13px, 500, normal, var(--dark-blue));
    padding-left: 10px;
    white-space: nowrap;
  }

  &_other-user {
    align-self: flex-start;
    border-radius: 0 15px 15px;
    background: #4c5761;
     .message__time {
      @include text(9px, 13px, 500, normal, var(--grey-6));

    }
  }
}
